@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato&family=Lilita+One&family=Oswald&family=Squada+One&display=swap");
/* 
font-family: 'Archivo Black', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Lilita One', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Squada One', cursive; */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --vermClaro: #f53627;
  --vermEscuro: #f43127;
  --bege: #f59a1b;
  --verdEscuro: #00a950;
  --verdClaro: #a1cf67;
  --preto: #141318;

  --fonte-archivo: "Archivo Black", sans-serif;
  --fonte-lato: "Lato", sans-serif;
  --fonte-lilita: "Lilita One", cursive;
  --fonte-oswald: "Oswald", sans-serif;
  --fonte-squada: "Squada One", cursive;
}

nav .icon{
  display: none;
  color: #fed52c;
  padding: 10px;
}
nav .icon:hover{
  background-color: rgba(0, 0, 0, 0.905);
  color: #fed52c;
  border-radius: 1px;
  transition: .5s;
}


nav {
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(60, 33, 12, 0.15);
}
nav > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
nav > div > a {
  text-decoration: none;
}

nav a > p {
  color: #34201f;
  font-family: var(--fonte-lato);
  font-size: 18px;
  line-height: 25px;
}

nav a > p:hover {
  font-weight: 700;
}

div#redes {
  width: 20%;
  gap: 0px;
}

div#wpp {
  background-color: var(--bege);
  align-self: center;
  padding: 4px 16px;
  border-radius: 5px;
}

a.wpp {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}

a.wpp p {
  display: inline;
}

header {
  background-image: url("../assets/banner-hero.png");
  background-position: center center;
  height: 545px;
}

aside#kingb {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 30%;
  left: 5%;
}

aside#kingb > h1 {
  font-family: var(--fonte-lilita);
  font-size: 77.651px;
  color: #3b200b;
  font-weight: 400;
}

aside#kingb > h1 > span {
  color: var(--bege);
}

aside#kingb > p{
   font-family: var(--fonte-lato);
   font-size: 22.861px;
   line-height: 23px;
   color: #3b200b;
}

aside#kingb > p.ptop {
    font-weight: 700; 
}

aside#kingb > p > span{
   font-weight: 900;
   background-color: var(--bege);
   padding: 2px;
   border-radius: 5px;
}

aside#kingb > a{
   margin-top: 30px;
   background-color: var(--vermEscuro);
   text-decoration: none;
   color: #fff;
   padding:  15px;
   text-align: center;
   width: 198.64px;

   font-style: normal;
font-weight: 700;
font-size: 22.861px;
border-radius: 5px;
}

.servicos{
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 40px rgba(179, 155, 132, 0.5);
  border-radius: 10px;
  margin: auto;
  max-width: 960px;
  height: 100px;
  position: relative;
  top: -50px;
  
}
.svg{
  width: 60px;
  height: 60px;
  border-radius: 50% 50%;
  background-color: #FAE2CB ;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.servicos > div{
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  
}
.txtservicos h3{
  font-family: var(--fonte-lilita);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  color:  rgba(29, 6, 5, 0.9);;
}
.txtservicos{
  width: 170px;
}
.txtservicos p{
  font-family: var(--fonte-lato);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1d06058e;
}

aside#kingb > a:hover{
   background-color: var(--vermClaro);
}

@media screen and (max-width: 780px) {
  nav a:not(:first-child){
     display: none;}

  nav a.icon {
    float: right;
    display: block;
  }
 
  .topnav.responsive {
     position: fixed;}

  .topnav.responsive a.icon {
     position: absolute;
     right: 0;
     top: 0;

  }
  .topnav.responsive{
     display: block;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}